@import url("@/assets/styles/base/reset.css");
@import url("@/assets/styles/base/fonts.css");
@import url("@/assets/styles/ui/form.css");
@import url("@/assets/styles/ui/switch.css");

:root {
  --theme-switch: #FFFFFF;
  --form-background: #FFFFFF;
  --form-title: #252EFF;
  --input-border: #6066FF;
  --input-border-focused: #000000;
  --input-text: #000000;
  --input-text-error: #ff0000;
  --button-text-focused: #FFFFFF;
  --button-focused: #000000;
  --login-button: #252EFF;
  --register-button: #8B54FF;
  --sign-in-button: #6066FF;
  --transition-ease: 0.3s all ease;
}

body {
  font-family: 'Inter', sans-serif;
}

#app {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  background-color: #e0e0e0;
}
